{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : SQL Insert  == #}
{# == Node Type Description    : Creates a table with custome SQL logic  == #}
{#---------------------------------------------------------------------------------------------#}

{# --- Tests --- #}
{%- if config.preTests is defined and config.preTests.parameters is defined -%}
    {%- for test in config.preTests.parameters -%}
        {% set testParts = test.split(':', 1) %}
        {% set continueOnFailure = testParts[0] | lower == 'continueonfailure' %}
        {{ test_stage(node.name + ": Test " + loop.index|string, continueOnFailure) }}
        {{ testParts[-1] }}
    {%- endfor %}
{%- endif %}

{%- if node.materializationType == 'table' %}

    {# --- Pre-SQL --- #}
    {%- if config.preSQL is defined and config.preSQL.parameters is defined -%}
        {%- for sql in config.preSQL.parameters -%}
            {{ stage('Pre-SQL ' + loop.index|string) }}
            {{ sql }}
        {%- endfor %}
    {%- endif %}

	{# == Truncate data before data insertion  == #}
    {%- if config.truncateBefore %}
        {{ stage('Truncate Table') }}
        TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
    {%- endif %}

	{# == Insert data from sources into Work table  == #}
	
    {{ stage('Load Table Using Insert') }}
    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
    (
        {%- for col in sources[0].columns %}
            "{{ col.name }}"
            {%- if not loop.last -%},{%- endif %}
        {%- endfor %}
    )
    {{ sources[0].cteString }}
    (
        SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
        {%- for col in sources[0].columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {%- endif %}
        {%- endfor %}

        {{ sources[0].join }}
    )

    {# --- Post-SQL --- #}
    {%- if config.postSQL is defined and config.postSQL.parameters is defined -%}
        {%- for sql in config.postSQL.parameters -%}
            {{ stage('Post-SQL ' + loop.index|string) }}
            {{ sql }}
        {%- endfor %}
    {%- endif %}

{%- else %}
	{{ stage('Load Skipped for View') }}
	-- The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
	SELECT 1 AS INFO_MESSAGE WHERE FALSE
{%- endif %}

{# --- Tests --- #}
{%- if config.postTests is defined and config.postTests.parameters is defined -%}
    {%- for test in config.postTests.parameters -%}
        {% set testParts = test.split(':', 1) %}
        {% set continueOnFailure = testParts[0] | lower == 'continueonfailure' %}
        {{ test_stage(node.name + ": Test " + loop.index|string, continueOnFailure) }}
        {{ testParts[-1] }}
    {%- endfor %}
{%- endif %}

{%- for column in columns %}
    {%- if column.tests is mapping and column.tests.parameters is defined -%}
        {%- for test in column.tests.parameters %}
            {%- if test | lower == "null" %}
                {% set templateString = "SELECT 1 FROM " +  ref(node.location.name, node.name)  + " WHERE " + column.name + " IS NULL " %}                      
                {{ test_stage(column.name + ": " + test | lower) }}
                {{ templateString }}
            {%- endif %}
            {%- if test | lower == "unique" %}
                {% set templateString = "SELECT 1 FROM " + ref(node.location.name, node.name) + " GROUP BY " + column.name +  " HAVING COUNT(*) > 1" %}                      
                {{ test_stage(column.name + ": " + test | lower) }}
                {{ templateString }}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endfor %}