{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Persistent Stage  == #}
{# == Node Type Description    : This node loads data into Persistent Stage table using options distinct, groupby all, order by, multi-source cte  == #}

{# == To run data quality tests before data insertion == #}
{{ run_tests('Before') }}

{# == Check if last modified comparison is enabled  #}
{%- set hasBusinessKey = columns | selectattr("isBusinessKey") | list | length > 0 | default(false) %}
{%- set lastModifiedComparison = config.lastModifiedCompToggle | default(false) %}

{%- if hasBusinessKey %}
    {%- if lastModifiedComparison %}
        {%- set lastModifiedCol = config.lastModifiedColumn %}
        {%- set lastModifiedColName = lastModifiedCol.name %}
        {%- set type2Dimension = config.type2Dimension | default(false) %}
        {%- set isTimeStamp = (lastModifiedCol.dataType | upper).startswith('TIME') | default(false) %}
        {%- set lookBackDays = config.lookBackDays | default(0) if isTimeStamp and not type2Dimension else 0 %}
    {%- else %}
        {%- set type2Dimension = columns | selectattr("isChangeTracking") | list | length > 0 | default(false) %}
    {%- endif %}
{%- endif %}

{%- set source = sources[0] %}
{%- set joinclause = source.join %}

{%- if lastModifiedComparison and isTimeStamp %}
    {# Test stage for checking NULL values in source - last modified column #} 
    {{ test_stage('Check NULL values for ' ~ lastModifiedColName ~ ' column', false) }}
    {%- set ns = namespace(first=true) %}
    {%- for col in source.columns if col.name == lastModifiedColName %}
        {%- set col_transform = get_source_transform(col) %}

        {%- if col_transform is not none and col_transform != 'NULL' %}

            SELECT 1
            {{ source.cteString }}
            {{ get_clause(source.join, 'from') }}
            WHERE {{ col_transform }} IS NULL
            {{ get_clause(source.join) }}

            /* If NULL values are detected, this stage will fail and execution will be terminated */

        {%- endif %}
    {%- endfor %}
{%- endif %}

{#== Pre-SQL ==#}
{%- if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}
{%- endif %}

{# == Truncate data before data insertion  == #}
{%- if config.truncateBefore %}
    {{ stage('Truncate ' + node.materializationType) }}
    TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
{%- endif %}

{%- if hasBusinessKey %}
    {%- if lastModifiedComparison %}
        {#== Last Modified SCD ==#}
        {%- if type2Dimension %}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Last Modified Comparison - SCD2') }}
        {%- else %}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Last Modified Comparison - SCD1') }}
        {%- endif %}
    {%- else %}
        {#== Change Tracking SCD ==#}
        {%- if type2Dimension %}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Change Tracking - SCD2') }}
        {%- else %}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Change Tracking - SCD1') }}
        {%- endif %}
    {%- endif %}

    MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
    USING (

        {{ source.cteString }}

        {%- if type2Dimension -%}

            {#== SCD Type 2 ==#}
            /* New Rows That Don't Exist */
            (
                SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {%- if col.isSystemVersion %}
                    1
                    {%- elif col.isSystemCurrentFlag %}
                    'Y'
                    {%- else %}
                    {{ get_source_transform(col) }}
                    {%- endif %}
                    AS "{{ col.name }}",
                {%- endfor %}
                'INSERT_NEW_ROWS' AS "DML_OPERATION"
                {{ get_clause(joinclause, 'from') }}

                LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                {%- for col in source.columns if col.isBusinessKey %}
                    {%- if not loop.first %}
                    AND
                    {%- endif %}
                    {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                {%- endfor %}
                WHERE
                {%- for col in source.columns if col.isBusinessKey %}
                    {%- if not loop.first %}
                    AND
                    {%- endif %}
                    "DIM"."{{ col.name }}" IS NULL
                {%- endfor %}
                {{ get_clause(joinclause) }}
                {%- if config.groupByAll %} GROUP BY ALL {%- endif %}
                {{ sortorder_by_colv() }}
            )

            UNION ALL

            {%- if lastModifiedComparison %}
                /* Insert new records with incremented version/latest timestamp based on last modified column */
            {%- else %}
                /* New Row Needing To Be Inserted Due To Type-2 Column Changes */
            {%- endif %}
            (
                SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {%- if col.isSystemVersion %}
                        "DIM"."{{ col.name }}" + 1
                    {%- elif col.isSystemCurrentFlag %}
                        'Y'
                    {%- else %}
                    {{ get_source_transform(col) }}
                    {%- endif %}
                    AS "{{ col.name }}",
                {%- endfor %}
                    'INSERT_NEW_SCD2_ROWS' AS "DML_OPERATION"
                {{ get_clause(joinclause, 'from') }}

                INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                {%- for col in source.columns if col.isBusinessKey %}
                    {%- if not loop.first %}
                        AND
                    {%- endif %}
                    {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                {%- endfor %}

                WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'

                {%- if lastModifiedComparison %}
                    {%- for col in source.columns if col.name == lastModifiedColName %}
                        AND {{ get_source_transform(col) }} > "DIM"."{{lastModifiedColName}}"
                    {%- endfor %}  
                {%- else %}
                    {%- for col in source.columns if (col.isChangeTracking == true) %}
                        {%- if loop.first %}
                            AND (
                        {%- else %}
                            OR
                        {%- endif %}

                        {{ safe_compare(get_source_transform(col), '"DIM"."' ~ col.name ~ '"', col.dataType) }}

                        {%- if loop.last %} ) {%- endif %}
                    {%- endfor %}
                {%- endif %}
                {{  get_clause(joinclause)  }}
                {%- if config.groupByAll %} GROUP BY ALL {%- endif %}
                {{ sortorder_by_colv() }}
            )

            UNION ALL

            {%- if lastModifiedComparison %}
                /* Rows Needing To Be Expired - In this case, only two columns are merged (version and end date) */
            {%- else %}
                /*Rows Needing To Be Expired Due To Type-2 Column Changes - In this case, only two columns are merged (version and end date) */
            {%- endif %} 
            (
                SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {%- if col.isSystemEndDate %}
                        DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                    {%- elif col.isSystemCurrentFlag %}
                        'N'
                    {%- else %}
                        "DIM"."{{ col.name }}"
                    {%- endif %}
                    AS "{{ col.name }}",
                {%- endfor %}
                'UPDATE_OLD_SCD2_ROWS' AS "DML_OPERATION"
                {{  get_clause(joinclause, 'from')  }}

                INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                {%- for col in source.columns if col.isBusinessKey %}
                    {%- if not loop.first %}
                        AND
                    {%- endif %}
                    {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                {%- endfor %}

                WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'

                {%- if lastModifiedComparison %}
                    {%- for col in source.columns if col.name == lastModifiedColName %}
                        AND {{ get_source_transform(col) }} > "DIM"."{{lastModifiedColName}}"
                    {%- endfor %}  
                {%- else %}
                    {%- for col in source.columns if (col.isChangeTracking == true) %}
                        {%- if loop.first %}
                            AND (
                        {%- else %}
                            OR
                        {%- endif %}

                        {{ safe_compare(get_source_transform(col), '"DIM"."' ~ col.name ~ '"', col.dataType) }}

                        {%- if loop.last %}
                            )
                        {%- endif %}
                    {%- endfor %}
                {%- endif %}
                {{  get_clause(joinclause)  }}
                {%- if config.groupByAll %} GROUP BY ALL {%- endif %}
                {{ sortorder_by_colv() }}
            )

            {%- if not lastModifiedComparison %}
                {# The if-block below avoids unnecessary updates when no type 2 column changes are present #}
                {%- if source.columns 
                        | rejectattr('isSurrogateKey')
                        | rejectattr('isBusinessKey')
                        | rejectattr('isChangeTracking')
                        | rejectattr('isSystemVersion')
                        | rejectattr('isSystemCurrentFlag')
                        | rejectattr('isSystemStartDate')
                        | rejectattr('isSystemEndDate')
                        | rejectattr('isSystemCreateDate')
                        | rejectattr('isSystemUpdateDate') 
                        | list | length > 0 
                %}
            
                    UNION ALL

                    /* Rows Needing To Be Updated Due To Changes To Non-Type-2 columns
                    This case merges only when there are changes in non-type-2 column updates, but no changes in type-2 columns*/

                    (
                        SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                        {%- for col in source.columns if not col.isSurrogateKey %}
                            {%- if col.isSystemVersion or col.isSystemCreateDate or col.isSystemStartDate or col.isSystemEndDate %}
                                "DIM"."{{ col.name }}"
                            {%- elif col.isSystemCurrentFlag %}
                                'Y'
                            {%- else %}
                                {{ get_source_transform(col) }}
                            {%- endif %}
                            AS "{{ col.name }}",
                        {%- endfor %}
                        'UPDATE_OLD_SCD1_ROWS' AS "DML_OPERATION"
                        {{  get_clause(joinclause, 'from')  }}

                        INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                        {%- for col in source.columns if col.isBusinessKey %}
                            {%- if not loop.first %}
                                AND
                            {%- endif %}
                            {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                        {%- endfor %}

                        WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
                        AND (
                        {%- for col in source.columns if (col.isChangeTracking) %}
                            {%- if not loop.first %}
                                AND
                            {%- endif %}

                            {{ safe_equals(get_source_transform(col), '"DIM"."' ~ col.name ~ '"', col.dataType) }}

                        {%- endfor %} )
            
                        {%- for col in source.columns if not (   col.isBusinessKey or
                                                                col.isChangeTracking or
                                                                col.isSurrogateKey or
                                                                col.isSystemVersion or
                                                                col.isSystemCurrentFlag or
                                                                col.isSystemStartDate or
                                                                col.isSystemEndDate or
                                                                col.isSystemUpdateDate or
                                                                col.isSystemCreateDate) %}
                            {%- if loop.first %}
                                AND (
                            {%- endif %}
                            {%- if not loop.first %}
                                OR
                            {%- endif %}

                            {{ safe_compare(get_source_transform(col), '"DIM"."' ~ col.name ~ '"', col.dataType) }}

                            {%- if loop.last %} ) {%- endif %}
                        {%- endfor %}
                        
                        {{  get_clause(joinclause)  }}
                        {%- if config.groupByAll %} GROUP BY ALL {%- endif %}
                        {{ sortorder_by_colv() }}
                    ) 
                {%- endif %}
            {%- endif %}
        {%- else -%}

            {#== SCD Type 1 ==#}
            (
                SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {%- if col.isSystemVersion %}
                        1
                    {%- elif col.isSystemCurrentFlag %}
                        'Y'	    
                    {%- elif col.name == lastModifiedColName %}
                        {{ get_source_transform(col) }} AS "{{ col.name }}",
                        {{ get_source_transform(col) }} AS COMPARISON_VALUE,
                        MAX ("DIM"."{{lastModifiedColName}}") AS MAX_TARGET_VALUE
                    {%- else %}
                        {{ get_source_transform(col) }}
                    {%- endif %}
                    {%- if col.name != lastModifiedColName %} AS "{{ col.name }}" {%- endif %}
                    {%- if not loop.last %}, {%- endif %}
                {%- endfor %}
                {{ get_clause(joinclause, 'from') }}

                {%- if lastModifiedComparison %}
                    LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                    {%- for col in source.columns if col.isBusinessKey %}
                        {%- if not loop.first %}
                            AND
                        {%- endif %}
                        {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                    {%- endfor %}
                {%- endif %}
                {%- set clause = get_clause(joinclause) %}
                {%- if clause %}
                    {{ ("WHERE " ~ clause.strip()[3:].strip()) if clause.strip().upper().startswith('AND') else clause }}
                {%- endif %}

                {%- if config.groupByAll or lastModifiedComparison %} GROUP BY ALL {%- endif %}
                {{ sortorder_by_colv() }}
            )
        {%- endif %}

    ) AS "SRC"
    ON

    {%- for col in columns if col.isBusinessKey %}
        {%- if not loop.first %} AND {%- endif %}
        "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
    {%- endfor %}

    {%- if type2Dimension %}
        AND "TGT"."{{ get_value_by_column_attribute("isSystemVersion") }}" = "SRC"."{{ get_value_by_column_attribute("isSystemVersion") }}"
    {%- endif %}

    {%- if type2Dimension %}
        WHEN MATCHED THEN UPDATE SET
        {%- for col in columns if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {%- if not loop.last %}, {%- endif %}
        {%- endfor %}

    {%- else %}

        WHEN MATCHED 
        {%- if lastModifiedComparison %}
            {%- if isTimeStamp %}
                AND "SRC".COMPARISON_VALUE > DATEADD(day, -{{ lookBackDays }}, NVL("SRC".MAX_TARGET_VALUE, CAST('1900-01-01' AS TIMESTAMP)))
            {%- else %}
                AND "SRC".COMPARISON_VALUE > "SRC".MAX_TARGET_VALUE
            {%- endif %}
        {%- else %}
            {%- for col in columns if not ( col.isBusinessKey or
                                            col.isSurrogateKey or
                                            col.isSystemVersion or
                                            col.isSystemCurrentFlag or
                                            col.isSystemStartDate or
                                            col.isSystemEndDate or
                                            col.isSystemUpdateDate or
                                            col.isSystemCreateDate) %}
                {%- if loop.first %}
                    AND (
                {%- else %}
                    OR
                {%- endif %}

                {{ safe_compare('"SRC"."' ~  col.name ~ '"', '"TGT"."' ~ col.name ~ '"', col.dataType) }}

                {%- if loop.last %} ) {%- endif %}
            {%- endfor %}
        {%- endif %}

        THEN UPDATE SET
        {%- for col in columns if not (  col.isBusinessKey or
                                        col.isSurrogateKey or
                                        col.isSystemVersion or
                                        col.isSystemCurrentFlag or
                                        col.isSystemStartDate or
                                        col.isSystemCreateDate) %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    {%- endif %}

    WHEN NOT MATCHED THEN INSERT
    (
        {%- for col in columns if not col.isSurrogateKey %}
            "{{ col.name }}"
            {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    )
    VALUES
    (
        {%- for col in columns if not col.isSurrogateKey %}
            "SRC"."{{ col.name }}"
            {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    )
{%- else %}

    {#== Insert Records ==#}
    {{ stage('Load ' + node.materializationType + ' Using Insert') }}
    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
    (
        {%- for col in sources[0].columns %}
            "{{ col.name }}"
            {%- if not loop.last -%},{%- endif %}
        {%- endfor %}
    )
    {{ sources[0].cteString }}
    (
        SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
        {%- for col in sources[0].columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {%- endif %}
        {%- endfor %}

        {{ sources[0].join }}
        {% if config.groupByAll %} GROUP BY ALL {% endif %}
    )
{%- endif %}

{#== Post-SQL ==#}
{%- if config.postSQL %}
    {{ stage('Post-SQL') }}
    {{ config.postSQL }}
{%- endif %}

{# == To run data quality tests after data insertion == #}
{{ run_tests('After') }}