{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : View == #}
{# == Node Type Description    : This node loads data into view using options distinct, groupby all, multi-source cte  == #}

{# == To run data quality tests before data insertion == #}
{{ run_tests('Before') }}

{{ stage('Load Skipped for View') }}
-- The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
SELECT 1 AS INFO_MESSAGE WHERE FALSE

{# == To run data quality tests after data insertion == #}
{{ run_tests('After') }}