{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Fact  == #}
{# == Node Type Description    : This node loads data into fact table using options distinct, groupby all, order by, multi-source cte  == #}

{# == To run data quality tests before data insertion == #}
{{ run_tests('Before') }}

{%- if node.materializationType == 'table' %}

    {# == Check if last modified comparison is enabled  #}
    {%- set hasBusinessKey = columns | selectattr("isBusinessKey") | list | length > 0 | default(false) %}
    {%- set lastModifiedComparison = config.lastModifiedCompToggle | default(false) %}

    {%- if hasBusinessKey %}
        {%- if lastModifiedComparison %}
            {%- set lastModifiedCol = config.lastModifiedColumn %}
            {%- set lastModifiedColName = lastModifiedCol.name %}
            {%- set isTimeStamp = (lastModifiedCol.dataType | upper).startswith('TIME') | default(false) %}
            {%- set lookBackDays = config.lookBackDays | default(0) if isTimeStamp else 0 %}
        {%- endif %}
    {%- endif %}

    {%- set source = sources[0] %}
    {%- set joinclause = source.join %}

    {%- if lastModifiedComparison and isTimeStamp %}
        {# Test stage for checking NULL values in source - last modified column #} 
        {{ test_stage('Check NULL values for ' ~ lastModifiedColName ~ ' column', false) }}
        {%- set ns = namespace(first=true) %}
        {%- for col in source.columns if col.name == lastModifiedColName %}
            {%- set col_transform = get_source_transform(col) %}

            {%- if col_transform is not none and col_transform != 'NULL' %}

                SELECT 1
                {{ source.cteString }}
                {{ get_clause(source.join, 'from') }}
                WHERE {{ col_transform }} IS NULL
                {{ get_clause(source.join) }}

                /* If NULL values are detected, this stage will fail and execution will be terminated */

            {%- endif %}
        {%- endfor %}
    {%- endif %}

    {#== Pre-SQL ==#}
	{%- if config.preSQL %}
		{{ stage('Pre-SQL') }}
		{{ config.preSQL }}
	{%- endif %}

	{# == Truncate data before data insertion  == #}
    {%- if config.truncateBefore %}
        {{ stage('Truncate ' + node.materializationType) }}
        TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
    {%- endif %}

    {%- if hasBusinessKey %}
        {%- if lastModifiedComparison %}
            {#== Last Modified SCD ==#}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Last Modified Comparison') }}
        {%- else %}
            {#== Change Tracking SCD ==#}
            {{ stage('Load ' + node.materializationType + ' Using Merge - Change Tracking') }}
        {%- endif %}
        MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
        USING (

            {{ source.cteString }}
            (
                SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {%- if col.isSystemVersion %}
                        1
                    {%- elif col.isSystemCurrentFlag %}
                        'Y'	    
                    {%- elif col.name == lastModifiedColName %}
                        {{ get_source_transform(col) }} AS "{{ col.name }}",
                        {{ get_source_transform(col) }} AS COMPARISON_VALUE,
                        MAX ("DIM"."{{lastModifiedColName}}") AS MAX_TARGET_VALUE
                    {%- else %}
                        {{ get_source_transform(col) }}
                    {%- endif %}
                    {%- if col.name != lastModifiedColName %} AS "{{ col.name }}" {%- endif %}
                    {%- if not loop.last %}, {%- endif %}
                {%- endfor %}
                {{ get_clause(joinclause, 'from') }}

                {%- if lastModifiedComparison %}
                    LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                    {%- for col in source.columns if col.isBusinessKey %}
                        {%- if not loop.first %}
                            AND
                        {%- endif %}
                        {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                    {%- endfor %}
                {%- endif %}
                {%- set clause = get_clause(joinclause) %}
                {%- if clause %}
                    {{ ("WHERE " ~ clause.strip()[3:].strip()) if clause.strip().upper().startswith('AND') else clause }}
                {%- endif %}

                {%- if config.groupByAll or lastModifiedComparison %} GROUP BY ALL {%- endif %}
                {{ sortorder_by_colv() }}
            )
        ) AS "SRC"
        ON

        {%- for col in columns if col.isBusinessKey %}
            {%- if not loop.first %} AND {%- endif %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
        {%- endfor %}

        WHEN MATCHED 
        {%- if lastModifiedComparison %}
            {%- if isTimeStamp %}
                AND "SRC".COMPARISON_VALUE > DATEADD(day, -{{ lookBackDays }}, NVL("SRC".MAX_TARGET_VALUE, CAST('1900-01-01' AS TIMESTAMP)))
            {%- else %}
                AND "SRC".COMPARISON_VALUE > "SRC".MAX_TARGET_VALUE
            {%- endif %}
        {%- else %}
            {%- for col in columns if not ( col.isBusinessKey or
                                            col.isSurrogateKey or
                                            col.isSystemVersion or
                                            col.isSystemCurrentFlag or
                                            col.isSystemStartDate or
                                            col.isSystemEndDate or
                                            col.isSystemUpdateDate or
                                            col.isSystemCreateDate) %}
                {%- if loop.first %}
                    AND (
                {%- else %}
                    OR
                {%- endif %}

                {{ safe_compare('"SRC"."' ~  col.name ~ '"', '"TGT"."' ~ col.name ~ '"', col.dataType) }}

                {%- if loop.last %} ) {%- endif %}
            {%- endfor %}
        {%- endif %}

        THEN UPDATE SET
        {%- for col in columns if not (  col.isBusinessKey or
                                        col.isSurrogateKey or
                                        col.isSystemVersion or
                                        col.isSystemCurrentFlag or
                                        col.isSystemStartDate or
                                        col.isSystemCreateDate) %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {%- if not loop.last %}, {%- endif %}
        {%- endfor %}

        WHEN NOT MATCHED THEN INSERT
        (
            {%- for col in columns if not col.isSurrogateKey %}
                "{{ col.name }}"
                {%- if not loop.last %}, {%- endif %}
            {%- endfor %}
        )
        VALUES
        (
            {%- for col in columns if not col.isSurrogateKey %}
                "SRC"."{{ col.name }}"
                {%- if not loop.last %}, {%- endif %}
            {%- endfor %}
        )
    {%- else %}

        {#== Insert Records ==#}
        {{ stage('Load ' + node.materializationType + ' Using Insert') }}
        INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
        (
            {%- for col in sources[0].columns %}
                "{{ col.name }}"
                {%- if not loop.last -%},{%- endif %}
            {%- endfor %}
        )
        {{ sources[0].cteString }}
        (
            SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
            {%- for col in sources[0].columns %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"
                {%- if not loop.last -%}, {%- endif %}
            {%- endfor %}

            {{ sources[0].join }}
            {% if config.groupByAll %} GROUP BY ALL {% endif %}
        )
    {%- endif %}

    {#== Post-SQL ==#}
	{%- if config.postSQL %}
		{{ stage('Post-SQL') }}
		{{ config.postSQL }}
	{%- endif %}

{%- else %}
	{{ stage('Load Skipped for View') }}
	-- The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
	SELECT 1 AS INFO_MESSAGE WHERE FALSE
{%- endif %}

{# == To run data quality tests after data insertion == #}
{{ run_tests('After') }}