{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Dimension  == #}
{# == Node Type Description    : This node loads data into dimension table using options distinct, groupby all, order by, multi-source cte  == #}

{# == To run data quality tests before data insertion == #}
{{ run_tests('Before') }}

{#== Pre-SQL ==#}
{%- if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}
{%- endif %}

{%- set source = sources[0] %}
{%- set joinclause = source.join %}

{# == Truncate data before data insertion  == #}
{%- if config.truncateBefore %}
    {{ stage('Truncate ' + node.materializationType) }}
    TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
{%- endif %}


{{ stage('Load ' + node.materializationType + ' Using Merge') }}
MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
USING (

    {{ source.cteString }}
    SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
    {%- for col in source.columns if not col.isSurrogateKey %}
        {%- if col.isSystemVersion %}
            1
        {%- elif col.isSystemCurrentFlag %}
            'Y'	    
        {%- elif col.name == lastModifiedColName %}
            {{ get_source_transform(col) }} AS "{{ col.name }}",
            {{ get_source_transform(col) }} AS COMPARISON_VALUE,
            MAX ("DIM"."{{lastModifiedColName}}") AS MAX_TARGET_VALUE
        {%- else %}
            {{ get_source_transform(col) }}
        {%- endif %}
        {%- if col.name != lastModifiedColName %} AS "{{ col.name }}" {%- endif %}
        {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
    {{ get_clause(joinclause, 'from') }}

    {%- if config.groupByAll %} GROUP BY ALL {%- endif %}
    {{ sortorder_by_colv() }}
) AS "SRC"
ON

{% for col in columns -%}
    {%- if not loop.first %} AND {%- endif %}
    {{ safe_equals('"SRC"."' ~  col.name ~ '"', '"TGT"."' ~ col.name ~ '"', col.dataType) }}
{%- endfor %}

WHEN MATCHED 
{%- for col in columns %}
    {%- if loop.first %} AND ( {%- else %} OR {%- endif %}
    {{ safe_compare('"SRC"."' ~  col.name ~ '"', '"TGT"."' ~ col.name ~ '"', col.dataType) }}
    {%- if loop.last %} ) {%- endif %}
{%- endfor %}

THEN UPDATE SET
{%- for col in columns %}
    "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
    {%- if not loop.last %}, {%- endif %}
{%- endfor %}

WHEN NOT MATCHED THEN INSERT
(
    {%- for col in columns %}
        "{{ col.name }}"
        {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
)
VALUES
(
    {%- for col in columns %}
        "SRC"."{{ col.name }}"
        {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
)

{#== Post-SQL ==#}
{%- if config.postSQL %}
    {{ stage('Post-SQL') }}
    {{ config.postSQL }}
{%- endif %}

{# == To run data quality tests after data insertion == #}
{{ run_tests('After') }}