{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : SQL Merge  == #}
{# == Node Type Description    : This node creates dimension table or view  == #}
{#---------------------------------------------------------------------------------------------#}

{%- if node.materializationType == 'table' %}

    {# == Check if last modified comparison toggle is enabled  #}
    {%- set hasBusinessKey = columns | selectattr("isBusinessKey") | list | length > 0 | default(false) %}

    {%- if hasBusinessKey %}

        {%- set lastModifiedComparison = columns | selectattr("isLastModifiedColumn") | list | length > 0 | default(false) %}
        {%- if lastModifiedComparison %}
            {%- if columns | selectattr("isLastModifiedColumn") | list | length == 1 %}
                {%- set type2Dimension = config.type2Dimension | default(false) %}
            {%- else %}
                {{- test_stage('Warning! Count mismatch for last comparison', false) -}}
                -- Only one last modified column is allowed. Multiple/No columns may lead to inconsistent results.
                SELECT CAST('FAIL' AS INT)
            {%- endif %}
        {%- else %}
            {%- set type2Dimension = columns | selectattr("isChangeTracking") | list | length > 0 | default(false) %}
        {%- endif %}
    {%- else %}
        {{- test_stage('Warning! Merge requires a business key', false) -}}
        -- A business key must be provided for the MERGE statement to run successfully.
        -- Please specify it using @isBusinessKey at the column level in SQL.
        SELECT CAST('FAIL' AS INT)
    {%- endif %}

    {%- if type2Dimension %}    

        {%- set currentFlagCol = get_value_by_column_attribute("isSystemCurrentFlag") %}
        {%- set versionCol = get_value_by_column_attribute("isSystemVersion") %}

        {%- if 'ERR:' in currentFlagCol or 'ERR:' in versionCol %}
            {{- test_stage('Warning! Merge-SCD2 requires @isSystemCurrentFlag, @isSystemVersion annotated Columns', false) -}}
            /*
                Columns with attributenames @isSystemCurrentFlag, @isSystemVersion must be provided for the MERGE-SCD2 statement to run successfully.
                Please specify it using @isSystemCurrentFlag, @isSystemVersion at the column level in SQL.
                Ex:
                '' AS "SYSTEM_CURRENT_FLAG" @isSystemCurrentFlag,
                1 AS "SYSTEM_VERSION" @isSystemVersion
            */
            SELECT CAST('FAIL' AS INT)
        {%- endif %}

        {%- set endDate = get_value_by_column_attribute("isSystemEndDate") %}
        {%- set createDate = get_value_by_column_attribute("isSystemCreateDate") %}
        {%- set updateDate = get_value_by_column_attribute("isSystemUpdateDate") %}

        {%- if 'ERR:' in createDate or 'ERR:' in updateDate or 'ERR:' in endDate %}
            {{- test_stage('Warning! Missing audit columns', true) -}}
            /* 
                It is recommended to also include columns with annotations @isSurrogateKey, @isSystemCreateDate, @isSystemUpdateDate and @isSystemEndDate for improved clarity and auditability.
                Please specify it using @isSurrogateKey, @isSystemCreateDate, @isSystemUpdateDate and @isSystemEndDate at the column level in SQL.
                Ex:
                0 AS "{{ node.name }}_KEY" @isSurrogateKey,
                CAST(CURRENT_TIMESTAMP AS TIMESTAMP) AS "SYSTEM_CREATE_DATE" @isSystemCreateDate,
                CAST(CURRENT_TIMESTAMP AS TIMESTAMP) AS "SYSTEM_UPDATE_DATE" @isSystemUpdateDate,
                CAST('2999-12-31 00:00:00' AS TIMESTAMP) AS "SYSTEM_END_DATE" @isSystemEndDate
            */
            SELECT CAST('FAIL' AS INT)
        {%- endif %}
    {%- else %}
        {%- set createDate = get_value_by_column_attribute("isSystemCreateDate") %}
        {%- set updateDate = get_value_by_column_attribute("isSystemUpdateDate") %}

        {%- if 'ERR:' in createDate or 'ERR:' in updateDate %}
            {{- test_stage('Warning! Missing audit columns', true) -}}
            /*
                It is recommended to also include columns with annotations @isSystemCreateDate, @isSystemUpdateDate for improved clarity and auditability.
                Please specify it using @isSystemCreateDate, @isSystemUpdateDate at the column level in SQL.
                Ex:      
                CAST(CURRENT_TIMESTAMP AS TIMESTAMP) AS "SYSTEM_CREATE_DATE" @isSystemCreateDate,
                CAST(CURRENT_TIMESTAMP AS TIMESTAMP) AS "SYSTEM_UPDATE_DATE" @isSystemUpdateDate
            */
            SELECT CAST('FAIL' AS INT)
        {%- endif %}
    {%- endif %}

    {# CreateSQL for Table #}
	{{ stage('Create Table') }}
	CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
	(
		{%- for col in columns %}

            {%- set nullParams = col.nullable.parameters | default([]) %}
            {%- set defaultValueParams = col.defaultValue.parameters | default([]) %}
            {%- set descriptionParams = col.description.parameters | default([]) %}

			"{{ col.name }}" {{ col.dataType }}
            {%- if col.isSurrogateKey %} identity {%- endif %}
			{%- if nullParams and (nullParams[0] in ['false', false]) %} NOT NULL {%- endif %}
			{%- if defaultValueParams and defaultValueParams[0] is not none %} DEFAULT {{ get_default(col.dataType, defaultValueParams[0]) }} {%- endif %}
			{%- if descriptionParams and descriptionParams[0] | length > 0 %} COMMENT '{{ descriptionParams[0] | escape }}' {%- endif %}
			{%- if not loop.last -%}, {%- endif %}
		{%- endfor %}
	)
	{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}' {%- endif %}

{%- elif node.materializationType == 'view' %}

    {# CreateSQL for View #}
    {{ stage('Create View') }}
    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {%- for col in columns %}

            {%- set descriptionParams = col.description.parameters | default([]) %}

            "{{ col.name }}"
            {%- if descriptionParams and descriptionParams[0] | length > 0 %} COMMENT '{{ descriptionParams[0] | escape }}' {%- endif %}
            {%- if not loop.last -%}, {%- endif %}
        {%- endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}' {%- endif %}
    AS    
    {{ sources[0].cteString }}
    SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
    {%- for col in sources[0].columns %}
        {% if col.isSurrogateKey or col.isSystemUpdateDate or col.isSystemCreateDate %}
            NULL
		{% else %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
		{% endif %}
        {%- if not loop.last -%}, {%- endif %}
    {%- endfor %}

    {{ sources[0].join }}

{%- endif %}